<a href="https://colab.research.google.com/github/CoderVudu/Assignment-1_Sharmistha_Dey_9th_May/blob/main/Assignment_1_Sharmistha_Dey_9th_May.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [ ]:
# (i) string
my_string = "Hello, World!"

# (ii) list
my_list = [1, 2, 3, 4, 5]

# (iii) float
my_float = 3.14

# (iv) tuple
my_tuple = (10, 20, 30)

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [ ]:
var1 = ''             # string
var2 = '[ DS , ML , Python]'  # string
var3 = ['DS', 'ML', 'Python'] # list
var4 = 1.             # float

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [ ]:
result = 10 / 3
print(result)

3.3333333333333335

In [ ]:
remainder = 10 % 3
print(remainder)

1

In [ ]:
quotient = 10 // 3
print(quotient)

3

In [ ]:
power = 2 ** 3
print(power)

8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [ ]:
my_list = [1, "hello", 3.14, True, [1, 2, 3], ('a', 'b'), {'key': 'value'}, None, 5, 'world']

for element in my_list:
    print(f"Element: {element}, Type: {type(element)}")

Element: 1, Type: <class 'int'>
Element: hello, Type: <class 'str'>
Element: 3.14, Type: <class 'float'>
Element: True, Type: <class 'bool'>
Element: [1, 2, 3], Type: <class 'list'>
Element: ('a', 'b'), Type: <class 'tuple'>
Element: {'key': 'value'}, Type: <class 'dict'>
Element: None, Type: <class 'NoneType'>
Element: 5, Type: <class 'int'>
Element: world, Type: <class 'str'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [ ]:
A = 30
B = 6
count = 0

while A % B == 0:
    A /= B
    count += 1

print(f"{A} is divisible by {B} {count} times.")

5.0 is divisible by 6 1 times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [ ]:
my_numbers = list(range(1, 26))

for num in my_numbers:
    if num % 3 == 0:
        print(f"{num} is divisible by 3.")
    else:
        print(f"{num} is not divisible by 3.")

1 is not divisible by 3.
2 is not divisible by 3.
3 is divisible by 3.
4 is not divisible by 3.
5 is not divisible by 3.
6 is divisible by 3.
7 is not divisible by 3.
8 is not divisible by 3.
9 is divisible by 3.
10 is not divisible by 3.
11 is not divisible by 3.
12 is divisible by 3.
13 is not divisible by 3.
14 is not divisible by 3.
15 is divisible by 3.
16 is not divisible by 3.
17 is not divisible by 3.
18 is divisible by 3.
19 is not divisible by 3.
20 is not divisible by 3.
21 is divisible by 3.
22 is not divisible by 3.
23 is not divisible by 3.
24 is divisible by 3.
25 is not divisible by 3.

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

__Immutable:__ Objects whose state cannot be modified after creation are immutable. Examples include integers, floats, strings, tuples. If you modify these types, you actually create a new object.

In [ ]:
my_string = "Hello"
my_string += " World"  # Creates a new string object

my_tuple = (1, 2, 3)

__Mutable:__ Objects that can be modified after creation are mutable. Examples include lists, dictionaries, sets. Modifications directly affect the object's state without creating a new object.

In [ ]:
my_list = [1, 2, 3]
my_list.append(4)  # Modifies the existing list

my_dict = {'key': 'value'}
my_dict['new_key'] = 'new_value'  # Modifies the existing dictionary